# OS / Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Logs
*.log

# Editor settings
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
*.bak
stripe_backup_code.txt

# Backend runtime data
backend/data/store.json
